
@font-face {
    font-family: Ionicons;
    src: url(./fonts/ionicons.eot);
    src: url(./fonts/ionicons.eot#iefix) format("embedded-opentype"),url(./fonts/ionicons.ttf) format("truetype"),url(./fonts/ionicons.woff) format("woff"),url(./fonts/ionicons.svg#Ionicons) format("svg");
    font-weight: 400;
    font-style: normal
}

.ui-icon {
    display: inline-block;
    font-family: Ionicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ui-icon-alert:before {
    content: "\F101"
}

.ui-icon-alert-circled:before {
    content: "\F100"
}

.ui-icon-android-add:before {
    content: "\F2C7"
}

.ui-icon-android-add-circle:before {
    content: "\F359"
}

.ui-icon-android-alarm-clock:before {
    content: "\F35A"
}

.ui-icon-android-alert:before {
    content: "\F35B"
}

.ui-icon-android-apps:before {
    content: "\F35C"
}

.ui-icon-android-archive:before {
    content: "\F2C9"
}

.ui-icon-android-arrow-back:before {
    content: "\F2CA"
}

.ui-icon-android-arrow-down:before {
    content: "\F35D"
}

.ui-icon-android-arrow-dropdown:before {
    content: "\F35F"
}

.ui-icon-android-arrow-dropdown-circle:before {
    content: "\F35E"
}

.ui-icon-android-arrow-dropleft:before {
    content: "\F361"
}

.ui-icon-android-arrow-dropleft-circle:before {
    content: "\F360"
}

.ui-icon-android-arrow-dropright:before {
    content: "\F363"
}

.ui-icon-android-arrow-dropright-circle:before {
    content: "\F362"
}

.ui-icon-android-arrow-dropup:before {
    content: "\F365"
}

.ui-icon-android-arrow-dropup-circle:before {
    content: "\F364"
}

.ui-icon-android-arrow-forward:before {
    content: "\F30F"
}

.ui-icon-android-arrow-up:before {
    content: "\F366"
}

.ui-icon-android-attach:before {
    content: "\F367"
}

.ui-icon-android-bar:before {
    content: "\F368"
}

.ui-icon-android-bicycle:before {
    content: "\F369"
}

.ui-icon-android-boat:before {
    content: "\F36A"
}

.ui-icon-android-bookmark:before {
    content: "\F36B"
}

.ui-icon-android-bulb:before {
    content: "\F36C"
}

.ui-icon-android-bus:before {
    content: "\F36D"
}

.ui-icon-android-calendar:before {
    content: "\F2D1"
}

.ui-icon-android-call:before {
    content: "\F2D2"
}

.ui-icon-android-camera:before {
    content: "\F2D3"
}

.ui-icon-android-cancel:before {
    content: "\F36E"
}

.ui-icon-android-car:before {
    content: "\F36F"
}

.ui-icon-android-cart:before {
    content: "\F370"
}

.ui-icon-android-chat:before {
    content: "\F2D4"
}

.ui-icon-android-checkbox:before {
    content: "\F374"
}

.ui-icon-android-checkbox-blank:before {
    content: "\F371"
}

.ui-icon-android-checkbox-outline:before {
    content: "\F373"
}

.ui-icon-android-checkbox-outline-blank:before {
    content: "\F372"
}

.ui-icon-android-checkmark-circle:before {
    content: "\F375"
}

.ui-icon-android-clipboard:before {
    content: "\F376"
}

.ui-icon-android-close:before {
    content: "\F2D7"
}

.ui-icon-android-cloud:before {
    content: "\F37A"
}

.ui-icon-android-cloud-circle:before {
    content: "\F377"
}

.ui-icon-android-cloud-done:before {
    content: "\F378"
}

.ui-icon-android-cloud-outline:before {
    content: "\F379"
}

.ui-icon-android-color-palette:before {
    content: "\F37B"
}

.ui-icon-android-compass:before {
    content: "\F37C"
}

.ui-icon-android-contact:before {
    content: "\F2D8"
}

.ui-icon-android-contacts:before {
    content: "\F2D9"
}

.ui-icon-android-contract:before {
    content: "\F37D"
}

.ui-icon-android-create:before {
    content: "\F37E"
}

.ui-icon-android-delete:before {
    content: "\F37F"
}

.ui-icon-android-desktop:before {
    content: "\F380"
}

.ui-icon-android-document:before {
    content: "\F381"
}

.ui-icon-android-done:before {
    content: "\F383"
}

.ui-icon-android-done-all:before {
    content: "\F382"
}

.ui-icon-android-download:before {
    content: "\F2DD"
}

.ui-icon-android-drafts:before {
    content: "\F384"
}

.ui-icon-android-exit:before {
    content: "\F385"
}

.ui-icon-android-expand:before {
    content: "\F386"
}

.ui-icon-android-favorite:before {
    content: "\F388"
}

.ui-icon-android-favorite-outline:before {
    content: "\F387"
}

.ui-icon-android-film:before {
    content: "\F389"
}

.ui-icon-android-folder:before {
    content: "\F2E0"
}

.ui-icon-android-folder-open:before {
    content: "\F38A"
}

.ui-icon-android-funnel:before {
    content: "\F38B"
}

.ui-icon-android-globe:before {
    content: "\F38C"
}

.ui-icon-android-hand:before {
    content: "\F2E3"
}

.ui-icon-android-hangout:before {
    content: "\F38D"
}

.ui-icon-android-happy:before {
    content: "\F38E"
}

.ui-icon-android-home:before {
    content: "\F38F"
}

.ui-icon-android-image:before {
    content: "\F2E4"
}

.ui-icon-android-laptop:before {
    content: "\F390"
}

.ui-icon-android-list:before {
    content: "\F391"
}

.ui-icon-android-locate:before {
    content: "\F2E9"
}

.ui-icon-android-lock:before {
    content: "\F392"
}

.ui-icon-android-mail:before {
    content: "\F2EB"
}

.ui-icon-android-map:before {
    content: "\F393"
}

.ui-icon-android-menu:before {
    content: "\F394"
}

.ui-icon-android-microphone:before {
    content: "\F2EC"
}

.ui-icon-android-microphone-off:before {
    content: "\F395"
}

.ui-icon-android-more-horizontal:before {
    content: "\F396"
}

.ui-icon-android-more-vertical:before {
    content: "\F397"
}

.ui-icon-android-navigate:before {
    content: "\F398"
}

.ui-icon-android-notifications:before {
    content: "\F39B"
}

.ui-icon-android-notifications-none:before {
    content: "\F399"
}

.ui-icon-android-notifications-off:before {
    content: "\F39A"
}

.ui-icon-android-open:before {
    content: "\F39C"
}

.ui-icon-android-options:before {
    content: "\F39D"
}

.ui-icon-android-people:before {
    content: "\F39E"
}

.ui-icon-android-person:before {
    content: "\F3A0"
}

.ui-icon-android-person-add:before {
    content: "\F39F"
}

.ui-icon-android-phone-landscape:before {
    content: "\F3A1"
}

.ui-icon-android-phone-portrait:before {
    content: "\F3A2"
}

.ui-icon-android-pin:before {
    content: "\F3A3"
}

.ui-icon-android-plane:before {
    content: "\F3A4"
}

.ui-icon-android-playstore:before {
    content: "\F2F0"
}

.ui-icon-android-print:before {
    content: "\F3A5"
}

.ui-icon-android-radio-button-off:before {
    content: "\F3A6"
}

.ui-icon-android-radio-button-on:before {
    content: "\F3A7"
}

.ui-icon-android-refresh:before {
    content: "\F3A8"
}

.ui-icon-android-remove:before {
    content: "\F2F4"
}

.ui-icon-android-remove-circle:before {
    content: "\F3A9"
}

.ui-icon-android-restaurant:before {
    content: "\F3AA"
}

.ui-icon-android-sad:before {
    content: "\F3AB"
}

.ui-icon-android-search:before {
    content: "\F2F5"
}

.ui-icon-android-send:before {
    content: "\F2F6"
}

.ui-icon-android-settings:before {
    content: "\F2F7"
}

.ui-icon-android-share:before {
    content: "\F2F8"
}

.ui-icon-android-share-alt:before {
    content: "\F3AC"
}

.ui-icon-android-star:before {
    content: "\F2FC"
}

.ui-icon-android-star-half:before {
    content: "\F3AD"
}

.ui-icon-android-star-outline:before {
    content: "\F3AE"
}

.ui-icon-android-stopwatch:before {
    content: "\F2FD"
}

.ui-icon-android-subway:before {
    content: "\F3AF"
}

.ui-icon-android-sunny:before {
    content: "\F3B0"
}

.ui-icon-android-sync:before {
    content: "\F3B1"
}

.ui-icon-android-textsms:before {
    content: "\F3B2"
}

.ui-icon-android-time:before {
    content: "\F3B3"
}

.ui-icon-android-train:before {
    content: "\F3B4"
}

.ui-icon-android-unlock:before {
    content: "\F3B5"
}

.ui-icon-android-upload:before {
    content: "\F3B6"
}

.ui-icon-android-volume-down:before {
    content: "\F3B7"
}

.ui-icon-android-volume-mute:before {
    content: "\F3B8"
}

.ui-icon-android-volume-off:before {
    content: "\F3B9"
}

.ui-icon-android-volume-up:before {
    content: "\F3BA"
}

.ui-icon-android-walk:before {
    content: "\F3BB"
}

.ui-icon-android-warning:before {
    content: "\F3BC"
}

.ui-icon-android-watch:before {
    content: "\F3BD"
}

.ui-icon-android-wifi:before {
    content: "\F305"
}

.ui-icon-aperture:before {
    content: "\F313"
}

.ui-icon-archive:before {
    content: "\F102"
}

.ui-icon-arrow-down-a:before {
    content: "\F103"
}

.ui-icon-arrow-down-b:before {
    content: "\F104"
}

.ui-icon-arrow-down-c:before {
    content: "\F105"
}

.ui-icon-arrow-expand:before {
    content: "\F25E"
}

.ui-icon-arrow-graph-down-left:before {
    content: "\F25F"
}

.ui-icon-arrow-graph-down-right:before {
    content: "\F260"
}

.ui-icon-arrow-graph-up-left:before {
    content: "\F261"
}

.ui-icon-arrow-graph-up-right:before {
    content: "\F262"
}

.ui-icon-arrow-left-a:before {
    content: "\F106"
}

.ui-icon-arrow-left-b:before {
    content: "\F107"
}

.ui-icon-arrow-left-c:before {
    content: "\F108"
}

.ui-icon-arrow-move:before {
    content: "\F263"
}

.ui-icon-arrow-resize:before {
    content: "\F264"
}

.ui-icon-arrow-return-left:before {
    content: "\F265"
}

.ui-icon-arrow-return-right:before {
    content: "\F266"
}

.ui-icon-arrow-right-a:before {
    content: "\F109"
}

.ui-icon-arrow-right-b:before {
    content: "\F10A"
}

.ui-icon-arrow-right-c:before {
    content: "\F10B"
}

.ui-icon-arrow-shrink:before {
    content: "\F267"
}

.ui-icon-arrow-swap:before {
    content: "\F268"
}

.ui-icon-arrow-up-a:before {
    content: "\F10C"
}

.ui-icon-arrow-up-b:before {
    content: "\F10D"
}

.ui-icon-arrow-up-c:before {
    content: "\F10E"
}

.ui-icon-asterisk:before {
    content: "\F314"
}

.ui-icon-at:before {
    content: "\F10F"
}

.ui-icon-backspace:before {
    content: "\F3BF"
}

.ui-icon-backspace-outline:before {
    content: "\F3BE"
}

.ui-icon-bag:before {
    content: "\F110"
}

.ui-icon-battery-charging:before {
    content: "\F111"
}

.ui-icon-battery-empty:before {
    content: "\F112"
}

.ui-icon-battery-full:before {
    content: "\F113"
}

.ui-icon-battery-half:before {
    content: "\F114"
}

.ui-icon-battery-low:before {
    content: "\F115"
}

.ui-icon-beaker:before {
    content: "\F269"
}

.ui-icon-beer:before {
    content: "\F26A"
}

.ui-icon-bluetooth:before {
    content: "\F116"
}

.ui-icon-bonfire:before {
    content: "\F315"
}

.ui-icon-bookmark:before {
    content: "\F26B"
}

.ui-icon-bowtie:before {
    content: "\F3C0"
}

.ui-icon-briefcase:before {
    content: "\F26C"
}

.ui-icon-bug:before {
    content: "\F2BE"
}

.ui-icon-calculator:before {
    content: "\F26D"
}

.ui-icon-calendar:before {
    content: "\F117"
}

.ui-icon-camera:before {
    content: "\F118"
}

.ui-icon-card:before {
    content: "\F119"
}

.ui-icon-cash:before {
    content: "\F316"
}

.ui-icon-chatbox:before {
    content: "\F11B"
}

.ui-icon-chatbox-working:before {
    content: "\F11A"
}

.ui-icon-chatboxes:before {
    content: "\F11C"
}

.ui-icon-chatbubble:before {
    content: "\F11E"
}

.ui-icon-chatbubble-working:before {
    content: "\F11D"
}

.ui-icon-chatbubbles:before {
    content: "\F11F"
}

.ui-icon-checkmark:before {
    content: "\F122"
}

.ui-icon-checkmark-circled:before {
    content: "\F120"
}

.ui-icon-checkmark-round:before {
    content: "\F121"
}

.ui-icon-chevron-down:before {
    content: "\F123"
}

.ui-icon-chevron-left:before {
    content: "\F124"
}

.ui-icon-chevron-right:before {
    content: "\F125"
}

.ui-icon-chevron-up:before {
    content: "\F126"
}

.ui-icon-clipboard:before {
    content: "\F127"
}

.ui-icon-clock:before {
    content: "\F26E"
}

.ui-icon-close:before {
    content: "\F12A"
}

.ui-icon-close-circled:before {
    content: "\F128"
}

.ui-icon-close-round:before {
    content: "\F129"
}

.ui-icon-closed-captioning:before {
    content: "\F317"
}

.ui-icon-cloud:before {
    content: "\F12B"
}

.ui-icon-code:before {
    content: "\F271"
}

.ui-icon-code-download:before {
    content: "\F26F"
}

.ui-icon-code-working:before {
    content: "\F270"
}

.ui-icon-coffee:before {
    content: "\F272"
}

.ui-icon-compass:before {
    content: "\F273"
}

.ui-icon-compose:before {
    content: "\F12C"
}

.ui-icon-connection-bars:before {
    content: "\F274"
}

.ui-icon-contrast:before {
    content: "\F275"
}

.ui-icon-crop:before {
    content: "\F3C1"
}

.ui-icon-cube:before {
    content: "\F318"
}

.ui-icon-disc:before {
    content: "\F12D"
}

.ui-icon-document:before {
    content: "\F12F"
}

.ui-icon-document-text:before {
    content: "\F12E"
}

.ui-icon-drag:before {
    content: "\F130"
}

.ui-icon-earth:before {
    content: "\F276"
}

.ui-icon-easel:before {
    content: "\F3C2"
}

.ui-icon-edit:before {
    content: "\F2BF"
}

.ui-icon-egg:before {
    content: "\F277"
}

.ui-icon-eject:before {
    content: "\F131"
}

.ui-icon-email:before {
    content: "\F132"
}

.ui-icon-email-unread:before {
    content: "\F3C3"
}

.ui-icon-erlenmeyer-flask:before {
    content: "\F3C5"
}

.ui-icon-erlenmeyer-flask-bubbles:before {
    content: "\F3C4"
}

.ui-icon-eye:before {
    content: "\F133"
}

.ui-icon-eye-disabled:before {
    content: "\F306"
}

.ui-icon-female:before {
    content: "\F278"
}

.ui-icon-filing:before {
    content: "\F134"
}

.ui-icon-film-marker:before {
    content: "\F135"
}

.ui-icon-fireball:before {
    content: "\F319"
}

.ui-icon-flag:before {
    content: "\F279"
}

.ui-icon-flame:before {
    content: "\F31A"
}

.ui-icon-flash:before {
    content: "\F137"
}

.ui-icon-flash-off:before {
    content: "\F136"
}

.ui-icon-folder:before {
    content: "\F139"
}

.ui-icon-fork:before {
    content: "\F27A"
}

.ui-icon-fork-repo:before {
    content: "\F2C0"
}

.ui-icon-forward:before {
    content: "\F13A"
}

.ui-icon-funnel:before {
    content: "\F31B"
}

.ui-icon-gear-a:before {
    content: "\F13D"
}

.ui-icon-gear-b:before {
    content: "\F13E"
}

.ui-icon-grid:before {
    content: "\F13F"
}

.ui-icon-hammer:before {
    content: "\F27B"
}

.ui-icon-happy:before {
    content: "\F31C"
}

.ui-icon-happy-outline:before {
    content: "\F3C6"
}

.ui-icon-headphone:before {
    content: "\F140"
}

.ui-icon-heart:before {
    content: "\F141"
}

.ui-icon-heart-broken:before {
    content: "\F31D"
}

.ui-icon-help:before {
    content: "\F143"
}

.ui-icon-help-buoy:before {
    content: "\F27C"
}

.ui-icon-help-circled:before {
    content: "\F142"
}

.ui-icon-home:before {
    content: "\F144"
}

.ui-icon-icecream:before {
    content: "\F27D"
}

.ui-icon-image:before {
    content: "\F147"
}

.ui-icon-images:before {
    content: "\F148"
}

.ui-icon-information:before {
    content: "\F14A"
}

.ui-icon-information-circled:before {
    content: "\F149"
}

.ui-icon-ionic:before {
    content: "\F14B"
}

.ui-icon-ios-alarm:before {
    content: "\F3C8"
}

.ui-icon-ios-alarm-outline:before {
    content: "\F3C7"
}

.ui-icon-ios-albums:before {
    content: "\F3CA"
}

.ui-icon-ios-albums-outline:before {
    content: "\F3C9"
}

.ui-icon-ios-americanfootball:before {
    content: "\F3CC"
}

.ui-icon-ios-americanfootball-outline:before {
    content: "\F3CB"
}

.ui-icon-ios-analytics:before {
    content: "\F3CE"
}

.ui-icon-ios-analytics-outline:before {
    content: "\F3CD"
}

.ui-icon-ios-arrow-back:before {
    content: "\F3CF"
}

.ui-icon-ios-arrow-down:before {
    content: "\F3D0"
}

.ui-icon-ios-arrow-forward:before {
    content: "\F3D1"
}

.ui-icon-ios-arrow-left:before {
    content: "\F3D2"
}
.ui-icon-ios-arrow-left.ui-icon-ios-arrow-double:after {
    content: "\F3D3"
}

.ui-icon-ios-arrow-right:before {
    content: "\F3D3"
}
.ui-icon-ios-arrow-right.ui-icon-ios-arrow-double:after {
    content: "\F3D3"
}

.ui-icon-ios-arrow-thin-down:before {
    content: "\F3D4"
}

.ui-icon-ios-arrow-thin-left:before {
    content: "\F3D5"
}

.ui-icon-ios-arrow-thin-right:before {
    content: "\F3D6"
}

.ui-icon-ios-arrow-thin-up:before {
    content: "\F3D7"
}

.ui-icon-ios-arrow-up:before {
    content: "\F3D8"
}

.ui-icon-ios-at:before {
    content: "\F3DA"
}

.ui-icon-ios-at-outline:before {
    content: "\F3D9"
}

.ui-icon-ios-barcode:before {
    content: "\F3DC"
}

.ui-icon-ios-barcode-outline:before {
    content: "\F3DB"
}

.ui-icon-ios-baseball:before {
    content: "\F3DE"
}

.ui-icon-ios-baseball-outline:before {
    content: "\F3DD"
}

.ui-icon-ios-basketball:before {
    content: "\F3E0"
}

.ui-icon-ios-basketball-outline:before {
    content: "\F3DF"
}

.ui-icon-ios-bell:before {
    content: "\F3E2"
}

.ui-icon-ios-bell-outline:before {
    content: "\F3E1"
}

.ui-icon-ios-body:before {
    content: "\F3E4"
}

.ui-icon-ios-body-outline:before {
    content: "\F3E3"
}

.ui-icon-ios-bolt:before {
    content: "\F3E6"
}

.ui-icon-ios-bolt-outline:before {
    content: "\F3E5"
}

.ui-icon-ios-book:before {
    content: "\F3E8"
}

.ui-icon-ios-book-outline:before {
    content: "\F3E7"
}

.ui-icon-ios-bookmarks:before {
    content: "\F3EA"
}

.ui-icon-ios-bookmarks-outline:before {
    content: "\F3E9"
}

.ui-icon-ios-box:before {
    content: "\F3EC"
}

.ui-icon-ios-box-outline:before {
    content: "\F3EB"
}

.ui-icon-ios-briefcase:before {
    content: "\F3EE"
}

.ui-icon-ios-briefcase-outline:before {
    content: "\F3ED"
}

.ui-icon-ios-browsers:before {
    content: "\F3F0"
}

.ui-icon-ios-browsers-outline:before {
    content: "\F3EF"
}

.ui-icon-ios-calculator:before {
    content: "\F3F2"
}

.ui-icon-ios-calculator-outline:before {
    content: "\F3F1"
}

.ui-icon-ios-calendar:before {
    content: "\F3F4"
}

.ui-icon-ios-calendar-outline:before {
    content: "\F3F3"
}

.ui-icon-ios-camera:before {
    content: "\F3F6"
}

.ui-icon-ios-camera-outline:before {
    content: "\F3F5"
}

.ui-icon-ios-cart:before {
    content: "\F3F8"
}

.ui-icon-ios-cart-outline:before {
    content: "\F3F7"
}

.ui-icon-ios-chatboxes:before {
    content: "\F3FA"
}

.ui-icon-ios-chatboxes-outline:before {
    content: "\F3F9"
}

.ui-icon-ios-chatbubble:before {
    content: "\F3FC"
}

.ui-icon-ios-chatbubble-outline:before {
    content: "\F3FB"
}

.ui-icon-ios-checkmark:before {
    content: "\F3FF"
}

.ui-icon-ios-checkmark-empty:before {
    content: "\F3FD"
}

.ui-icon-ios-checkmark-outline:before {
    content: "\F3FE"
}

.ui-icon-ios-circle-filled:before {
    content: "\F400"
}

.ui-icon-ios-circle-outline:before {
    content: "\F401"
}

.ui-icon-ios-clock:before {
    content: "\F403"
}

.ui-icon-ios-clock-outline:before {
    content: "\F402"
}

.ui-icon-ios-close:before {
    content: "\F406"
}

.ui-icon-ios-close-empty:before {
    content: "\F404"
}

.ui-icon-ios-close-outline:before {
    content: "\F405"
}

.ui-icon-ios-cloud:before {
    content: "\F40C"
}

.ui-icon-ios-cloud-download:before {
    content: "\F408"
}

.ui-icon-ios-cloud-download-outline:before {
    content: "\F407"
}

.ui-icon-ios-cloud-outline:before {
    content: "\F409"
}

.ui-icon-ios-cloud-upload:before {
    content: "\F40B"
}

.ui-icon-ios-cloud-upload-outline:before {
    content: "\F40A"
}

.ui-icon-ios-cloudy:before {
    content: "\F410"
}

.ui-icon-ios-cloudy-night:before {
    content: "\F40E"
}

.ui-icon-ios-cloudy-night-outline:before {
    content: "\F40D"
}

.ui-icon-ios-cloudy-outline:before {
    content: "\F40F"
}

.ui-icon-ios-cog:before {
    content: "\F412"
}

.ui-icon-ios-cog-outline:before {
    content: "\F411"
}

.ui-icon-ios-color-filter:before {
    content: "\F414"
}

.ui-icon-ios-color-filter-outline:before {
    content: "\F413"
}

.ui-icon-ios-color-wand:before {
    content: "\F416"
}

.ui-icon-ios-color-wand-outline:before {
    content: "\F415"
}

.ui-icon-ios-compose:before {
    content: "\F418"
}

.ui-icon-ios-compose-outline:before {
    content: "\F417"
}

.ui-icon-ios-contact:before {
    content: "\F41A"
}

.ui-icon-ios-contact-outline:before {
    content: "\F419"
}

.ui-icon-ios-copy:before {
    content: "\F41C"
}

.ui-icon-ios-copy-outline:before {
    content: "\F41B"
}

.ui-icon-ios-crop:before {
    content: "\F41E"
}

.ui-icon-ios-crop-strong:before {
    content: "\F41D"
}

.ui-icon-ios-download:before {
    content: "\F420"
}

.ui-icon-ios-download-outline:before {
    content: "\F41F"
}

.ui-icon-ios-drag:before {
    content: "\F421"
}

.ui-icon-ios-email:before {
    content: "\F423"
}

.ui-icon-ios-email-outline:before {
    content: "\F422"
}

.ui-icon-ios-eye:before {
    content: "\F425"
}

.ui-icon-ios-eye-outline:before {
    content: "\F424"
}

.ui-icon-ios-fastforward:before {
    content: "\F427"
}

.ui-icon-ios-fastforward-outline:before {
    content: "\F426"
}

.ui-icon-ios-filing:before {
    content: "\F429"
}

.ui-icon-ios-filing-outline:before {
    content: "\F428"
}

.ui-icon-ios-film:before {
    content: "\F42B"
}

.ui-icon-ios-film-outline:before {
    content: "\F42A"
}

.ui-icon-ios-flag:before {
    content: "\F42D"
}

.ui-icon-ios-flag-outline:before {
    content: "\F42C"
}

.ui-icon-ios-flame:before {
    content: "\F42F"
}

.ui-icon-ios-flame-outline:before {
    content: "\F42E"
}

.ui-icon-ios-flask:before {
    content: "\F431"
}

.ui-icon-ios-flask-outline:before {
    content: "\F430"
}

.ui-icon-ios-flower:before {
    content: "\F433"
}

.ui-icon-ios-flower-outline:before {
    content: "\F432"
}

.ui-icon-ios-folder:before {
    content: "\F435"
}

.ui-icon-ios-folder-outline:before {
    content: "\F434"
}

.ui-icon-ios-football:before {
    content: "\F437"
}

.ui-icon-ios-football-outline:before {
    content: "\F436"
}

.ui-icon-ios-game-controller-a:before {
    content: "\F439"
}

.ui-icon-ios-game-controller-a-outline:before {
    content: "\F438"
}

.ui-icon-ios-game-controller-b:before {
    content: "\F43B"
}

.ui-icon-ios-game-controller-b-outline:before {
    content: "\F43A"
}

.ui-icon-ios-gear:before {
    content: "\F43D"
}

.ui-icon-ios-gear-outline:before {
    content: "\F43C"
}

.ui-icon-ios-glasses:before {
    content: "\F43F"
}

.ui-icon-ios-glasses-outline:before {
    content: "\F43E"
}

.ui-icon-ios-grid-view:before {
    content: "\F441"
}

.ui-icon-ios-grid-view-outline:before {
    content: "\F440"
}

.ui-icon-ios-heart:before {
    content: "\F443"
}

.ui-icon-ios-heart-outline:before {
    content: "\F442"
}

.ui-icon-ios-help:before {
    content: "\F446"
}

.ui-icon-ios-help-empty:before {
    content: "\F444"
}

.ui-icon-ios-help-outline:before {
    content: "\F445"
}

.ui-icon-ios-home:before {
    content: "\F448"
}

.ui-icon-ios-home-outline:before {
    content: "\F447"
}

.ui-icon-ios-infinite:before {
    content: "\F44A"
}

.ui-icon-ios-infinite-outline:before {
    content: "\F449"
}

.ui-icon-ios-information:before {
    content: "\F44D"
}

.ui-icon-ios-information-empty:before {
    content: "\F44B"
}

.ui-icon-ios-information-outline:before {
    content: "\F44C"
}

.ui-icon-ios-ionic-outline:before {
    content: "\F44E"
}

.ui-icon-ios-keypad:before {
    content: "\F450"
}

.ui-icon-ios-keypad-outline:before {
    content: "\F44F"
}

.ui-icon-ios-lightbulb:before {
    content: "\F452"
}

.ui-icon-ios-lightbulb-outline:before {
    content: "\F451"
}

.ui-icon-ios-list:before {
    content: "\F454"
}

.ui-icon-ios-list-outline:before {
    content: "\F453"
}

.ui-icon-ios-location:before {
    content: "\F456"
}

.ui-icon-ios-location-outline:before {
    content: "\F455"
}

.ui-icon-ios-locked:before {
    content: "\F458"
}

.ui-icon-ios-locked-outline:before {
    content: "\F457"
}

.ui-icon-ios-loop:before {
    content: "\F45A"
}

.ui-icon-ios-loop-strong:before {
    content: "\F459"
}

.ui-icon-ios-medical:before {
    content: "\F45C"
}

.ui-icon-ios-medical-outline:before {
    content: "\F45B"
}

.ui-icon-ios-medkit:before {
    content: "\F45E"
}

.ui-icon-ios-medkit-outline:before {
    content: "\F45D"
}

.ui-icon-ios-mic:before {
    content: "\F461"
}

.ui-icon-ios-mic-off:before {
    content: "\F45F"
}

.ui-icon-ios-mic-outline:before {
    content: "\F460"
}

.ui-icon-ios-minus:before {
    content: "\F464"
}

.ui-icon-ios-minus-empty:before {
    content: "\F462"
}

.ui-icon-ios-minus-outline:before {
    content: "\F463"
}

.ui-icon-ios-monitor:before {
    content: "\F466"
}

.ui-icon-ios-monitor-outline:before {
    content: "\F465"
}

.ui-icon-ios-moon:before {
    content: "\F468"
}

.ui-icon-ios-moon-outline:before {
    content: "\F467"
}

.ui-icon-ios-more:before {
    content: "\F46A"
}

.ui-icon-ios-more-outline:before {
    content: "\F469"
}

.ui-icon-ios-musical-note:before {
    content: "\F46B"
}

.ui-icon-ios-musical-notes:before {
    content: "\F46C"
}

.ui-icon-ios-navigate:before {
    content: "\F46E"
}

.ui-icon-ios-navigate-outline:before {
    content: "\F46D"
}

.ui-icon-ios-nutrition:before {
    content: "\F470"
}

.ui-icon-ios-nutrition-outline:before {
    content: "\F46F"
}

.ui-icon-ios-paper:before {
    content: "\F472"
}

.ui-icon-ios-paper-outline:before {
    content: "\F471"
}

.ui-icon-ios-paperplane:before {
    content: "\F474"
}

.ui-icon-ios-paperplane-outline:before {
    content: "\F473"
}

.ui-icon-ios-partlysunny:before {
    content: "\F476"
}

.ui-icon-ios-partlysunny-outline:before {
    content: "\F475"
}

.ui-icon-ios-pause:before {
    content: "\F478"
}

.ui-icon-ios-pause-outline:before {
    content: "\F477"
}

.ui-icon-ios-paw:before {
    content: "\F47A"
}

.ui-icon-ios-paw-outline:before {
    content: "\F479"
}

.ui-icon-ios-people:before {
    content: "\F47C"
}

.ui-icon-ios-people-outline:before {
    content: "\F47B"
}

.ui-icon-ios-person:before {
    content: "\F47E"
}

.ui-icon-ios-person-outline:before {
    content: "\F47D"
}

.ui-icon-ios-personadd:before {
    content: "\F480"
}

.ui-icon-ios-personadd-outline:before {
    content: "\F47F"
}

.ui-icon-ios-photos:before {
    content: "\F482"
}

.ui-icon-ios-photos-outline:before {
    content: "\F481"
}

.ui-icon-ios-pie:before {
    content: "\F484"
}

.ui-icon-ios-pie-outline:before {
    content: "\F483"
}

.ui-icon-ios-pint:before {
    content: "\F486"
}

.ui-icon-ios-pint-outline:before {
    content: "\F485"
}

.ui-icon-ios-play:before {
    content: "\F488"
}

.ui-icon-ios-play-outline:before {
    content: "\F487"
}

.ui-icon-ios-plus:before {
    content: "\F48B"
}

.ui-icon-ios-plus-empty:before {
    content: "\F489"
}

.ui-icon-ios-plus-outline:before {
    content: "\F48A"
}

.ui-icon-ios-pricetag:before {
    content: "\F48D"
}

.ui-icon-ios-pricetag-outline:before {
    content: "\F48C"
}

.ui-icon-ios-pricetags:before {
    content: "\F48F"
}

.ui-icon-ios-pricetags-outline:before {
    content: "\F48E"
}

.ui-icon-ios-printer:before {
    content: "\F491"
}

.ui-icon-ios-printer-outline:before {
    content: "\F490"
}

.ui-icon-ios-pulse:before {
    content: "\F493"
}

.ui-icon-ios-pulse-strong:before {
    content: "\F492"
}

.ui-icon-ios-rainy:before {
    content: "\F495"
}

.ui-icon-ios-rainy-outline:before {
    content: "\F494"
}

.ui-icon-ios-recording:before {
    content: "\F497"
}

.ui-icon-ios-recording-outline:before {
    content: "\F496"
}

.ui-icon-ios-redo:before {
    content: "\F499"
}

.ui-icon-ios-redo-outline:before {
    content: "\F498"
}

.ui-icon-ios-refresh:before {
    content: "\F49C"
}

.ui-icon-ios-refresh-empty:before {
    content: "\F49A"
}

.ui-icon-ios-refresh-outline:before {
    content: "\F49B"
}

.ui-icon-ios-reload:before {
    content: "\F49D"
}

.ui-icon-ios-reverse-camera:before {
    content: "\F49F"
}

.ui-icon-ios-reverse-camera-outline:before {
    content: "\F49E"
}

.ui-icon-ios-rewind:before {
    content: "\F4A1"
}

.ui-icon-ios-rewind-outline:before {
    content: "\F4A0"
}

.ui-icon-ios-rose:before {
    content: "\F4A3"
}

.ui-icon-ios-rose-outline:before {
    content: "\F4A2"
}

.ui-icon-ios-search:before {
    content: "\F4A5"
}

.ui-icon-ios-search-strong:before {
    content: "\F4A4"
}

.ui-icon-ios-settings:before {
    content: "\F4A7"
}

.ui-icon-ios-settings-strong:before {
    content: "\F4A6"
}

.ui-icon-ios-shuffle:before {
    content: "\F4A9"
}

.ui-icon-ios-shuffle-strong:before {
    content: "\F4A8"
}

.ui-icon-ios-skipbackward:before {
    content: "\F4AB"
}

.ui-icon-ios-skipbackward-outline:before {
    content: "\F4AA"
}

.ui-icon-ios-skipforward:before {
    content: "\F4AD"
}

.ui-icon-ios-skipforward-outline:before {
    content: "\F4AC"
}

.ui-icon-ios-snowy:before {
    content: "\F4AE"
}

.ui-icon-ios-speedometer:before {
    content: "\F4B0"
}

.ui-icon-ios-speedometer-outline:before {
    content: "\F4AF"
}

.ui-icon-ios-star:before {
    content: "\F4B3"
}

.ui-icon-ios-star-half:before {
    content: "\F4B1"
}

.ui-icon-ios-star-outline:before {
    content: "\F4B2"
}

.ui-icon-ios-stopwatch:before {
    content: "\F4B5"
}

.ui-icon-ios-stopwatch-outline:before {
    content: "\F4B4"
}

.ui-icon-ios-sunny:before {
    content: "\F4B7"
}

.ui-icon-ios-sunny-outline:before {
    content: "\F4B6"
}

.ui-icon-ios-telephone:before {
    content: "\F4B9"
}

.ui-icon-ios-telephone-outline:before {
    content: "\F4B8"
}

.ui-icon-ios-tennisball:before {
    content: "\F4BB"
}

.ui-icon-ios-tennisball-outline:before {
    content: "\F4BA"
}

.ui-icon-ios-thunderstorm:before {
    content: "\F4BD"
}

.ui-icon-ios-thunderstorm-outline:before {
    content: "\F4BC"
}

.ui-icon-ios-time:before {
    content: "\F4BF"
}

.ui-icon-ios-time-outline:before {
    content: "\F4BE"
}

.ui-icon-ios-timer:before {
    content: "\F4C1"
}

.ui-icon-ios-timer-outline:before {
    content: "\F4C0"
}

.ui-icon-ios-toggle:before {
    content: "\F4C3"
}

.ui-icon-ios-toggle-outline:before {
    content: "\F4C2"
}

.ui-icon-ios-trash:before {
    content: "\F4C5"
}

.ui-icon-ios-trash-outline:before {
    content: "\F4C4"
}

.ui-icon-ios-undo:before {
    content: "\F4C7"
}

.ui-icon-ios-undo-outline:before {
    content: "\F4C6"
}

.ui-icon-ios-unlocked:before {
    content: "\F4C9"
}

.ui-icon-ios-unlocked-outline:before {
    content: "\F4C8"
}

.ui-icon-ios-upload:before {
    content: "\F4CB"
}

.ui-icon-ios-upload-outline:before {
    content: "\F4CA"
}

.ui-icon-ios-videocam:before {
    content: "\F4CD"
}

.ui-icon-ios-videocam-outline:before {
    content: "\F4CC"
}

.ui-icon-ios-volume-high:before {
    content: "\F4CE"
}

.ui-icon-ios-volume-low:before {
    content: "\F4CF"
}

.ui-icon-ios-wineglass:before {
    content: "\F4D1"
}

.ui-icon-ios-wineglass-outline:before {
    content: "\F4D0"
}

.ui-icon-ios-world:before {
    content: "\F4D3"
}

.ui-icon-ios-world-outline:before {
    content: "\F4D2"
}

.ui-icon-ipad:before {
    content: "\F1F9"
}

.ui-icon-iphone:before {
    content: "\F1FA"
}

.ui-icon-ipod:before {
    content: "\F1FB"
}

.ui-icon-jet:before {
    content: "\F295"
}

.ui-icon-key:before {
    content: "\F296"
}

.ui-icon-knife:before {
    content: "\F297"
}

.ui-icon-laptop:before {
    content: "\F1FC"
}

.ui-icon-leaf:before {
    content: "\F1FD"
}

.ui-icon-levels:before {
    content: "\F298"
}

.ui-icon-lightbulb:before {
    content: "\F299"
}

.ui-icon-link:before {
    content: "\F1FE"
}

.ui-icon-load-a:before {
    content: "\F29A"
}

.ui-icon-load-b:before {
    content: "\F29B"
}

.ui-icon-load-c:before {
    content: "\F29C"
}

.ui-icon-load-d:before {
    content: "\F29D"
}

.ui-icon-location:before {
    content: "\F1FF"
}

.ui-icon-lock-combination:before {
    content: "\F4D4"
}

.ui-icon-locked:before {
    content: "\F200"
}

.ui-icon-log-in:before {
    content: "\F29E"
}

.ui-icon-log-out:before {
    content: "\F29F"
}

.ui-icon-loop:before {
    content: "\F201"
}

.ui-icon-magnet:before {
    content: "\F2A0"
}

.ui-icon-male:before {
    content: "\F2A1"
}

.ui-icon-man:before {
    content: "\F202"
}

.ui-icon-map:before {
    content: "\F203"
}

.ui-icon-medkit:before {
    content: "\F2A2"
}

.ui-icon-merge:before {
    content: "\F33F"
}

.ui-icon-mic-a:before {
    content: "\F204"
}

.ui-icon-mic-b:before {
    content: "\F205"
}

.ui-icon-mic-c:before {
    content: "\F206"
}

.ui-icon-minus:before {
    content: "\F209"
}

.ui-icon-minus-circled:before {
    content: "\F207"
}

.ui-icon-minus-round:before {
    content: "\F208"
}

.ui-icon-model-s:before {
    content: "\F2C1"
}

.ui-icon-monitor:before {
    content: "\F20A"
}

.ui-icon-more:before {
    content: "\F20B"
}

.ui-icon-mouse:before {
    content: "\F340"
}

.ui-icon-music-note:before {
    content: "\F20C"
}

.ui-icon-navicon:before {
    content: "\F20E"
}

.ui-icon-navicon-round:before {
    content: "\F20D"
}

.ui-icon-navigate:before {
    content: "\F2A3"
}

.ui-icon-network:before {
    content: "\F341"
}

.ui-icon-no-smoking:before {
    content: "\F2C2"
}

.ui-icon-nuclear:before {
    content: "\F2A4"
}

.ui-icon-outlet:before {
    content: "\F342"
}

.ui-icon-paintbrush:before {
    content: "\F4D5"
}

.ui-icon-paintbucket:before {
    content: "\F4D6"
}

.ui-icon-paper-airplane:before {
    content: "\F2C3"
}

.ui-icon-paperclip:before {
    content: "\F20F"
}

.ui-icon-pause:before {
    content: "\F210"
}

.ui-icon-person:before {
    content: "\F213"
}

.ui-icon-person-add:before {
    content: "\F211"
}

.ui-icon-person-stalker:before {
    content: "\F212"
}

.ui-icon-pie-graph:before {
    content: "\F2A5"
}

.ui-icon-pin:before {
    content: "\F2A6"
}

.ui-icon-pinpoint:before {
    content: "\F2A7"
}

.ui-icon-pizza:before {
    content: "\F2A8"
}

.ui-icon-plane:before {
    content: "\F214"
}

.ui-icon-planet:before {
    content: "\F343"
}

.ui-icon-play:before {
    content: "\F215"
}

.ui-icon-playstation:before {
    content: "\F30A"
}

.ui-icon-plus:before {
    content: "\F218"
}

.ui-icon-plus-circled:before {
    content: "\F216"
}

.ui-icon-plus-round:before {
    content: "\F217"
}

.ui-icon-podium:before {
    content: "\F344"
}

.ui-icon-pound:before {
    content: "\F219"
}

.ui-icon-power:before {
    content: "\F2A9"
}

.ui-icon-pricetag:before {
    content: "\F2AA"
}

.ui-icon-pricetags:before {
    content: "\F2AB"
}

.ui-icon-printer:before {
    content: "\F21A"
}

.ui-icon-pull-request:before {
    content: "\F345"
}

.ui-icon-qr-scanner:before {
    content: "\F346"
}

.ui-icon-quote:before {
    content: "\F347"
}

.ui-icon-radio-waves:before {
    content: "\F2AC"
}

.ui-icon-record:before {
    content: "\F21B"
}

.ui-icon-refresh:before {
    content: "\F21C"
}

.ui-icon-reply:before {
    content: "\F21E"
}

.ui-icon-reply-all:before {
    content: "\F21D"
}

.ui-icon-ribbon-a:before {
    content: "\F348"
}

.ui-icon-ribbon-b:before {
    content: "\F349"
}

.ui-icon-sad:before {
    content: "\F34A"
}

.ui-icon-sad-outline:before {
    content: "\F4D7"
}

.ui-icon-scissors:before {
    content: "\F34B"
}

.ui-icon-search:before {
    content: "\F21F"
}

.ui-icon-settings:before {
    content: "\F2AD"
}

.ui-icon-share:before {
    content: "\F220"
}

.ui-icon-shuffle:before {
    content: "\F221"
}

.ui-icon-skip-backward:before {
    content: "\F222"
}

.ui-icon-skip-forward:before {
    content: "\F223"
}

.ui-icon-social-android:before {
    content: "\F225"
}

.ui-icon-social-android-outline:before {
    content: "\F224"
}

.ui-icon-social-angular:before {
    content: "\F4D9"
}

.ui-icon-social-angular-outline:before {
    content: "\F4D8"
}

.ui-icon-social-apple:before {
    content: "\F227"
}

.ui-icon-social-apple-outline:before {
    content: "\F226"
}

.ui-icon-social-bitcoin:before {
    content: "\F2AF"
}

.ui-icon-social-bitcoin-outline:before {
    content: "\F2AE"
}

.ui-icon-social-buffer:before {
    content: "\F229"
}

.ui-icon-social-buffer-outline:before {
    content: "\F228"
}

.ui-icon-social-chrome:before {
    content: "\F4DB"
}

.ui-icon-social-chrome-outline:before {
    content: "\F4DA"
}

.ui-icon-social-codepen:before {
    content: "\F4DD"
}

.ui-icon-social-codepen-outline:before {
    content: "\F4DC"
}

.ui-icon-social-css3:before {
    content: "\F4DF"
}

.ui-icon-social-css3-outline:before {
    content: "\F4DE"
}

.ui-icon-social-designernews:before {
    content: "\F22B"
}

.ui-icon-social-designernews-outline:before {
    content: "\F22A"
}

.ui-icon-social-dribbble:before {
    content: "\F22D"
}

.ui-icon-social-dribbble-outline:before {
    content: "\F22C"
}

.ui-icon-social-dropbox:before {
    content: "\F22F"
}

.ui-icon-social-dropbox-outline:before {
    content: "\F22E"
}

.ui-icon-social-euro:before {
    content: "\F4E1"
}

.ui-icon-social-euro-outline:before {
    content: "\F4E0"
}

.ui-icon-social-facebook:before {
    content: "\F231"
}

.ui-icon-social-facebook-outline:before {
    content: "\F230"
}

.ui-icon-social-foursquare:before {
    content: "\F34D"
}

.ui-icon-social-foursquare-outline:before {
    content: "\F34C"
}

.ui-icon-social-freebsd-devil:before {
    content: "\F2C4"
}

.ui-icon-social-github:before {
    content: "\F233"
}

.ui-icon-social-github-outline:before {
    content: "\F232"
}

.ui-icon-social-google:before {
    content: "\F34F"
}

.ui-icon-social-google-outline:before {
    content: "\F34E"
}

.ui-icon-social-googleplus:before {
    content: "\F235"
}

.ui-icon-social-googleplus-outline:before {
    content: "\F234"
}

.ui-icon-social-hackernews:before {
    content: "\F237"
}

.ui-icon-social-hackernews-outline:before {
    content: "\F236"
}

.ui-icon-social-html5:before {
    content: "\F4E3"
}

.ui-icon-social-html5-outline:before {
    content: "\F4E2"
}

.ui-icon-social-instagram:before {
    content: "\F351"
}

.ui-icon-social-instagram-outline:before {
    content: "\F350"
}

.ui-icon-social-javascript:before {
    content: "\F4E5"
}

.ui-icon-social-javascript-outline:before {
    content: "\F4E4"
}

.ui-icon-social-linkedin:before {
    content: "\F239"
}

.ui-icon-social-linkedin-outline:before {
    content: "\F238"
}

.ui-icon-social-markdown:before {
    content: "\F4E6"
}

.ui-icon-social-nodejs:before {
    content: "\F4E7"
}

.ui-icon-social-octocat:before {
    content: "\F4E8"
}

.ui-icon-social-pinterest:before {
    content: "\F2B1"
}

.ui-icon-social-pinterest-outline:before {
    content: "\F2B0"
}

.ui-icon-social-python:before {
    content: "\F4E9"
}

.ui-icon-social-reddit:before {
    content: "\F23B"
}

.ui-icon-social-reddit-outline:before {
    content: "\F23A"
}

.ui-icon-social-rss:before {
    content: "\F23D"
}

.ui-icon-social-rss-outline:before {
    content: "\F23C"
}

.ui-icon-social-sass:before {
    content: "\F4EA"
}

.ui-icon-social-skype:before {
    content: "\F23F"
}

.ui-icon-social-skype-outline:before {
    content: "\F23E"
}

.ui-icon-social-snapchat:before {
    content: "\F4EC"
}

.ui-icon-social-snapchat-outline:before {
    content: "\F4EB"
}

.ui-icon-social-tumblr:before {
    content: "\F241"
}

.ui-icon-social-tumblr-outline:before {
    content: "\F240"
}

.ui-icon-social-tux:before {
    content: "\F2C5"
}

.ui-icon-social-twitch:before {
    content: "\F4EE"
}

.ui-icon-social-twitch-outline:before {
    content: "\F4ED"
}

.ui-icon-social-twitter:before {
    content: "\F243"
}

.ui-icon-social-twitter-outline:before {
    content: "\F242"
}

.ui-icon-social-usd:before {
    content: "\F353"
}

.ui-icon-social-usd-outline:before {
    content: "\F352"
}

.ui-icon-social-vimeo:before {
    content: "\F245"
}

.ui-icon-social-vimeo-outline:before {
    content: "\F244"
}

.ui-icon-social-whatsapp:before {
    content: "\F4F0"
}

.ui-icon-social-whatsapp-outline:before {
    content: "\F4EF"
}

.ui-icon-social-windows:before {
    content: "\F247"
}

.ui-icon-social-windows-outline:before {
    content: "\F246"
}

.ui-icon-social-wordpress:before {
    content: "\F249"
}

.ui-icon-social-wordpress-outline:before {
    content: "\F248"
}

.ui-icon-social-yahoo:before {
    content: "\F24B"
}

.ui-icon-social-yahoo-outline:before {
    content: "\F24A"
}

.ui-icon-social-yen:before {
    content: "\F4F2"
}

.ui-icon-social-yen-outline:before {
    content: "\F4F1"
}

.ui-icon-social-youtube:before {
    content: "\F24D"
}

.ui-icon-social-youtube-outline:before {
    content: "\F24C"
}

.ui-icon-soup-can:before {
    content: "\F4F4"
}

.ui-icon-soup-can-outline:before {
    content: "\F4F3"
}

.ui-icon-speakerphone:before {
    content: "\F2B2"
}

.ui-icon-speedometer:before {
    content: "\F2B3"
}

.ui-icon-spoon:before {
    content: "\F2B4"
}

.ui-icon-star:before {
    content: "\F24E"
}

.ui-icon-stats-bars:before {
    content: "\F2B5"
}

.ui-icon-steam:before {
    content: "\F30B"
}

.ui-icon-stop:before {
    content: "\F24F"
}

.ui-icon-thermometer:before {
    content: "\F2B6"
}

.ui-icon-thumbsdown:before {
    content: "\F250"
}

.ui-icon-thumbsup:before {
    content: "\F251"
}

.ui-icon-toggle:before {
    content: "\F355"
}

.ui-icon-toggle-filled:before {
    content: "\F354"
}

.ui-icon-transgender:before {
    content: "\F4F5"
}

.ui-icon-trash-a:before {
    content: "\F252"
}

.ui-icon-trash-b:before {
    content: "\F253"
}

.ui-icon-trophy:before {
    content: "\F356"
}

.ui-icon-tshirt:before {
    content: "\F4F7"
}

.ui-icon-tshirt-outline:before {
    content: "\F4F6"
}

.ui-icon-umbrella:before {
    content: "\F2B7"
}

.ui-icon-university:before {
    content: "\F357"
}

.ui-icon-unlocked:before {
    content: "\F254"
}

.ui-icon-upload:before {
    content: "\F255"
}

.ui-icon-usb:before {
    content: "\F2B8"
}

.ui-icon-videocamera:before {
    content: "\F256"
}

.ui-icon-volume-high:before {
    content: "\F257"
}

.ui-icon-volume-low:before {
    content: "\F258"
}

.ui-icon-volume-medium:before {
    content: "\F259"
}

.ui-icon-volume-mute:before {
    content: "\F25A"
}

.ui-icon-wand:before {
    content: "\F358"
}

.ui-icon-waterdrop:before {
    content: "\F25B"
}

.ui-icon-wifi:before {
    content: "\F25C"
}

.ui-icon-wineglass:before {
    content: "\F2B9"
}

.ui-icon-woman:before {
    content: "\F25D"
}

.ui-icon-wrench:before {
    content: "\F2BA"
}

.ui-icon-xbox:before {
    content: "\F30C"
}
